<!-- 
    Displays a navigation header with a toggler. The partial supports the following arguments:
    "id"            Optional id of the navbar, defaults to "navbar-0". The id is used by several child elements,
                    including a color mode switcher, version switcher, and collapse panel.
    "page"          Required object reference to the current page.
    "menus"         Optional name of the menu configuration, defaults to "main".
    "size"          Optional size of the button, either "sm", "md" (default), or "lg".
    "fixed"         Optional flag to indicate the navbar should stick to the top, defaults to false.
    "color"         Optional background color of the navbar, either "primary", "secondary", "success",
                    "danger", "warning", "info", "white", "black", "body", or "body-tertiary". The default color is
                    none.
    "mode"          Optional flag to include a color mode switcher, default is "true" (if dark mode is enabled).
    "search"        Optional flag to include a search input, default is "true".
    "logo"          Optional address of the logo image, defaults to the parameter "logo" set in the "main" section of
                    the site's parameter configuration. 
    "title"         Optional brand title, displayed when the logo is not set. Defaults to the site's title.
    "class":        Optional class attribute of the navbar container.
-->

<!-- Inline partial to render the color mode switcher -->
{{- define "partials/navbar-mode.html" -}}
    {{- $size := .size -}}
    {{- $collapsed := .collapsed -}}
    {{- $id := .id -}}

    <li class="nav-item dropdown {{ if $collapsed }}d-{{ $size }}-none{{ else }}d-none d-{{ $size }}-block{{ end }}">
        <a class="nav-link dropdown-toggle" href="#!" role="button" data-bs-toggle="dropdown" aria-label="{{ T "colorMode" }}" aria-expanded="false" id="{{ $id }}-theme{{ if $collapsed }}-collapsed{{ end }}">
            <span class="theme-icon-active">{{- partial "assets/icon.html" (dict "icon" "fas sun fa-fw") }}</span>{{ if $collapsed }} {{ T "colorMode" }} {{ end }}
            <span class="d-md-none"></span>
        </a>
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="{{ $id }}-theme{{ if $collapsed }}-collapsed{{ end }}">
            <li>
                <a class="dropdown-item{{ if $collapsed }} switch-mode-collapsed{{ end }}" data-bs-theme-value="light" href="#!">
                    <span class="theme-icon">{{- partial "assets/icon.html" (dict "icon" "fas sun fa-fw") }}</span>&nbsp;
                    {{ T "colorLight" }}
                </a>
            </li>
            <li>
                <a class="dropdown-item{{ if $collapsed }} switch-mode-collapsed{{ end }}" data-bs-theme-value="dark" href="#!">
                    <span class="theme-icon">{{- partial "assets/icon.html" (dict "icon" "fas moon fa-fw") }}</span>&nbsp;
                    {{ T "colorDark" }}
                </a>
            </li>
            <li>
                <a class="dropdown-item{{ if $collapsed }} switch-mode-collapsed{{ end }}" data-bs-theme-value="auto" href="#!">
                    <span class="theme-icon">{{- partial "assets/icon.html" (dict "icon" "fas circle-half-stroke fa-fw" ) }}</span>&nbsp;
                    {{ T "colorAuto" }}
                </a>
            </li>
        </ul>
    </li>
{{- end -}}

<!-- Inline partial to render the version switcher -->
{{- define "partials/navbar-versions.html" -}}
    {{- $size := .size -}}
    {{- $collapsed := .collapsed -}}
    {{- $page := .page -}}
    {{- $list := site.Params.docs.releases -}}
    {{- $id := .id -}}
    {{- $version := partial "utilities/GetVersion.html" (dict "page" $page) -}}

    <li class="nav-item dropdown {{ if $collapsed }}d-{{ $size }}-none{{ else }}d-none d-{{ $size }}-block{{ end }}">
        <a class="nav-link dropdown-toggle" href="#!" role="button" data-bs-toggle="dropdown" aria-expanded="false" id="{{ $id }}-version-switch">
            {{ if $collapsed }}{{ site.Title }} {{ end }}{{ $version }}
        </a>
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="{{ $id }}-version-switch">
            {{- range $index, $item := $list -}}
                {{- $active := eq $item.label $version -}}
                {{- $disabled := false -}}
                {{- if site.IsServer }}
                    {{- $disabled = and $item.redirect (gt (len $item.redirect) 0) -}}
                {{- end -}}
                {{ if $item.url }}
                    <li>
                        {{- $url := (path.Join $item.url) | relLangURL -}}
                        <a class="pe-5 dropdown-item{{ if $collapsed }} switch-mode-collapsed{{ end }}{{ if $active }} active{{ end }}{{ if $disabled }} disabled{{ end }}" href="{{ $url }}">{{ $item.label }}
                            {{ if $item.latest }} ({{ T "latest" }}){{ end }}
                            {{ if $active }}
                                <span class="position-absolute end-0 me-3">{{- partial "assets/icon.html" (dict "icon" "fas check fa-fw") }}</span>
                            {{ end }}
                        </a>
                    </li>
                {{ else }}
                    {{ if gt $index 0}}<li><hr class="dropdown-divider"></li>{{ end }}
                    <li><span class="dropdown-header fs-6">{{ $item.label }}</span></li>
                {{ end }}
            {{- end -}}
            {{- if site.Params.docs.overview -}}
                {{ if gt (len $list) 0 }}<li><hr class="dropdown-divider"></li>{{ end }}
                <li>
                    {{- $url := (path.Join site.Params.docs.overview) | relLangURL -}}
                    <a class="dropdown-item{{ if $collapsed }} switch-mode-collapsed{{ end }}" href="{{ $url }}">{{ T "allVersions" }}</a>
                </li>
            {{- end -}}
        </ul>
    </li>
{{- end -}}

{{- $absoluteURL := site.Params.main.canonifyAssetsURLs | default false -}}
{{- $supportedFlags := slice "true" "false" -}}

{{- $id := printf "navbar-%d" 0 -}}
{{ with .id }}
    {{ $id = . }}
{{ end }}

{{- $page := .page -}}
{{- if not $page -}}
    {{- errorf "partial [assets/navbar.html] - Missing value for param 'page'" -}}
{{- end -}}

{{- $defaultMenu := "main" }}
{{- $menuName := $defaultMenu }}
{{- with .menus }}{{ $menuName = . }}{{ end -}}
{{- $menus := index site.Menus $menuName -}}
{{- if or (ne (printf "%T" $menus) "navigation.Menu") (ne (index $menus 0).Menu $menuName) -}}
    {{- if ne $menuName $defaultMenu }}
        {{- errorf "partial [assets/navbar.html] - Invalid value for param 'menus': %s" $menuName -}}
    {{- end -}}
{{- end -}}

{{- $size := "md" -}}
{{- with .size }}{{ $size = . }}{{ end -}}
{{- $supportedSizes := slice "xs" "sm" "md" "lg" "xl" -}}
{{- if not (in $supportedSizes $size) -}}
    {{- errorf "partial [assets/navbar.html] - Invalid value for param 'size': %s" $size -}}
{{- end -}}

{{- $fixedParam := "false" -}}
{{- $fixed := false -}}
{{- with .fixed }}{{ $fixedParam = . }}{{ end -}}
{{- if in $supportedFlags $fixedParam -}}
    {{- if eq $fixedParam "true" }}{{ $fixed = true }}{{ else }}{{ $fixed = false }}{{ end -}}
{{- else -}}
    {{- errorf "partial [assets/navbar.html] - Invalid value for param 'fixed': %s" $fixedParam -}}
{{- end -}}

{{- $color := "" -}}
{{- with .color -}}
    {{- $color = . -}}
    {{- $supportedColors := slice "primary" "secondary" "success" "danger" "warning" "info" "white" "black" "body" "body-tertiary" -}}
    {{- if not (in $supportedColors $color) -}}
        {{- errorf "partial [assets/navbar.html] - Invalid value for param 'color': %s" $color -}}
    {{- end -}}
{{- end -}}

{{- $search := default true site.Params.navigation.search -}}
{{- with .search -}}
    {{- $searchParam := . -}}
    {{- if in $supportedFlags $searchParam -}}
        {{- if eq $searchParam "true" }}{{ $search = true }}{{ else }}{{ $search = false }}{{ end -}}
    {{- else -}}
        {{- errorf "partial [assets/navbar.html] - Invalid value for param 'search': %s" $searchParam -}}
    {{- end -}}
{{- end -}}

{{- $enableDarkMode := default false site.Params.main.enableDarkMode -}}
{{- with .mode -}}
    {{- $darkModeParam := . -}}
    {{- if in $supportedFlags $darkModeParam -}}
        {{- if eq $darkModeParam "true" }}{{ $enableDarkMode = site.Params.main.enableDarkMode }}{{ else }}{{ $enableDarkMode = false }}{{ end -}}
    {{- else -}}
        {{- errorf "partial [assets/navbar.html] - Invalid value for param 'darkMode': %s" $darkModeParam -}}
    {{- end -}}
{{- end -}}

{{- $enableVersions := false -}}
{{ $list := site.Params.docs.releases }}
{{ if $list }}
    {{- $enableVersions = gt (len $list ) 1 -}}
{{ end }}

{{- $enableLanguage := or $page.IsTranslated site.IsMultiLingual -}}

{{- $logo := site.Params.navigation.logo -}}
{{- with .logo }}{{ $logo = . }}{{ end -}}

{{- $title := site.Title -}}
{{- if .title -}}
    {{- $title = .title -}}
    {{- if not .logo }}{{ $logo = "" }}{{ end -}}
{{- end -}}

{{- $pre := .Pre -}}
{{- $post := .Post -}}

{{- $theme := "light" -}}
{{- if in (slice "primary" "secondary" "success" "danger" "black") $color }}{{ $theme = "dark" }}{{ end -}}
{{- if in (slice "body" "body-tertiary") $color }}{{ $theme = "" }}{{ end -}}
{{- if not $color }}{{ $theme = "" }}{{ end -}}
{{- $class := .class -}}

{{- $contrast := false -}}
{{- if in (slice "primary" "secondary" "success" "danger") $color }}{{ $contrast = true }}{{ end -}}

<div class="container-fluid {{ if $fixed }}fixed-top{{ end }} p-0{{ with $class }} {{ . }}{{ end }}">
    {{- partial "assets/page-alert.html" (dict "page" $page) -}}
    <nav class="navbar navbar-expand-{{ $size }}{{ if $contrast }} navbar-contrast{{ end }}{{ with $color }} bg-{{ . }}{{ end }} p-4"{{ with $theme }} data-bs-theme="{{ . }}"{{ end }}>
        <div class="container-xxl p-0">
            <!-- Insert sidebar toggler when applicable -->
            <div class="d-flex">
                {{- if $page.Scratch.Get "sidebar" -}}
                    <button class="navbar-toggler fw-30 collapsed p-0 mx-auto" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvass-sidebar" aria-controls="offcanvass-sidebar" aria-label="{{ T "toggleSidebar" }}">
                        {{- partial "assets/icon.html" (dict "icon" "fas ellipsis fa-fw") -}}
                    </button>
                {{- else -}}
                    <!-- Insert invisible sidebar toggler to center logo correctly on smaller screens -->
                    <button class="navbar-toggler fw-30 collapsed p-0 mx-auto invisible" type="button">
                        {{- partial "assets/icon.html" (dict "icon" "fas ellipsis fa-fw") -}}
                    </button>
                {{- end -}}
            </div>
    
            <!-- Insert the brand logo or name -->
            <a class="navbar-brand mx-auto" href="{{ site.Home.RelPermalink }}">
                {{- if $logo -}}
                    <img src="{{if $absoluteURL }}{{ absURL $logo }}{{ else }}{{ $logo }}{{ end }}" alt="{{ $title }} logo" height="50">&nbsp;&nbsp;&nbsp;&nbsp;<span class="fw-bold">{{ $title }}</span>
                {{- else -}}
                    <span class="fw-bold">{{ $title }}</span>
                {{- end -}}
            </a>
    
            <!-- Insert main navigation toggler -->
            <div class="d-flex fw-30">
                <button class="navbar-toggler main-nav-toggler collapsed p-0" type="button" data-bs-toggle="collapse" data-bs-target="#{{ $id }}-collapse"
                    aria-controls="{{ $id }}" aria-expanded="false" aria-label="{{ T "toggleMainNav" }}">
                    <span class="toggler-icon top-bar emphasis{{ with $theme }}-{{ . }}{{ end }}"></span>
                    <span class="toggler-icon middle-bar emphasis{{ with $theme }}-{{ . }}{{ end }}"></span>
                    <span class="toggler-icon bottom-bar emphasis{{ with $theme }}-{{ . }}{{ end }}"></span>
                </button>
            </div>
    
            <div class="navbar-collapse collapse" id="{{ $id }}-collapse">
                <!-- Insert search input -->
                {{- if $search }}{{ partial "assets/search-input.html" -}}{{ end -}}
                
                <!-- Render top-menu items (maximum depth of 2) -->
                <ul class="navbar-nav ms-auto">
                    {{- range $menu := $menus -}}
                        <li class="nav-item{{ if .HasChildren }} dropdown{{ end }}">
                            {{- partial "assets/navbar-item.html" (dict "menu" $menu "page" $page) -}}
                            {{- if .HasChildren -}}
                                <ul class="dropdown-menu dropdown-menu-end">
                                    {{- range .Children -}}
                                        <li>{{- partial "assets/navbar-item.html" (dict "menu" . "parent" $menu "page" $page) -}}</li>
                                    {{- end -}}
                                </ul>
                            {{- end -}}
                        </li>
                    {{- end -}}
    
                    <!-- Insert divider if applicable -->
                    {{- if and $menus (or $enableLanguage $enableVersions) -}}
                        <li class="nav-item py-2 py-md-1 col-12 col-md-auto d-none d-{{ $size }}-block">
                            <div class="vr d-none d-md-flex h-100 mx-md-2"></div>
                        </li>
                        <li><hr class="dropdown-divider-bg"></li>
                    {{- end -}}
    
                    <!-- Insert language switcher if applicable -->
                    {{- if $enableLanguage -}}
                        {{- $currentLang := $page.Language.Lang -}}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle d-{{ $size }}-none" href="#!" role="button" data-bs-toggle="dropdown" aria-label="{{ T "languageSwitcherLabel" }}" aria-expanded="false">
                                {{- partial "assets/icon.html" (dict "icon" "fas globe fa-fw") }} {{ T "languageSwitcherLabel" }}
                            </a>
                            <a class="nav-link dropdown-toggle d-none d-{{ $size }}-block" href="#!" role="button" data-bs-toggle="dropdown" aria-label="{{ T "languageSwitcherLabel" }}" aria-expanded="false">
                                {{- partial "assets/icon.html" (dict "icon" "fas globe fa-fw") }}
                            </a>
                            <ul class="dropdown-menu dropdown-menu-end ">
                                {{- if $page.IsTranslated -}}
                                    {{- range $page.AllTranslations -}}
                                        <li><a class="dropdown-item {{ if eq .Language.Lang $currentLang }}active{{ end }}" href="{{ .RelPermalink }}">{{ .Language.LanguageName  }}</a></li>
                                    {{- end -}}
                                {{- else -}}
                                    {{- range site.Languages -}}
                                        <li><a class="dropdown-item" href="/{{ .Lang }}">{{ default .Lang .LanguageName }}</a></li>
                                    {{- end -}}
                                {{- end -}}
                            </ul>
                        </li>
                    {{- end -}}
                                    
                    <!-- Insert version switcher -->
                    {{- if $enableVersions -}}
                        {{- partial "partials/navbar-versions.html" (dict "page" $page "size" $size "collapsed" true "id" .id) -}}
                        {{- partial "partials/navbar-versions.html" (dict "page" $page "size" $size "collapsed" false "id" .id) -}}
                    {{- end -}}
    
                    <!-- Insert color mode switcher -->
                    {{- if $enableDarkMode -}}
                        <!-- Insert divider -->
                        <li class="nav-item py-2 py-md-1 col-12 col-md-auto d-none d-{{ $size }}-block">
                            <div class="vr d-none d-md-flex h-100 mx-md-2"></div>
                        </li>
                        <li><hr class="dropdown-divider-bg"></li>
    
                        {{- partial "partials/navbar-mode.html" (dict "size" $size "collapsed" true "id" .id) -}}
                        {{- partial "partials/navbar-mode.html" (dict "size" $size "collapsed" false "id" .id) -}}
                    {{- end -}}
                </ul>
            </div>
        </div>
    </nav>
</div>
