// Placeholder to quickly add your own styles
// The file is included last in the build pipeline
.display-2 {
    font-weight:600;
}

p, li {
    font-size: 1.2rem;
}

blockquote p {
    margin: 0 2.5rem 0 1.5rem;
}

figcaption.figure-caption {
    font-weight: 600;
    font-size: 1.0rem;
}

