{{ define "main" }}
    <div class="container-xxl px-3 px-xxl-0">
        <div class="row row-cols-1 row-cols-sm-3">
            <div class="col col-md-2 d-none d-md-block"></div>
            <div class="col col-sm-12 col-md-8">
                <p class="display-4 mt-5">{{ .Name | humanize }}</p>

                {{ if eq .Kind "taxonomy" }}
                    <div class="row mt-5"></div>
                    {{ range $.Site.Taxonomies.tags.ByCount }}
                        <div class="row mt-2">
                            <div class="d-none d-sm-block col-sm-3 mt-auto text-right">
                                {{ .Count }} {{ if gt .Count 1 }} {{ T "articles" }} {{ else }} {{ T "article" }} {{ end }}
                            </div>
                            <div class="col">
                                <a href="{{ (path.Join .Page.RelPermalink) | relLangURL }}">{{ .Name | markdownify }}</a>
                            </div>
                        </div>
                    {{ end }}
                {{ else }}
                    {{ $dateFormat := default "Jan 2" (index .Site.Params "date_format") }}
                    {{ $.Scratch.Set "lastYear" ""}}
                    {{ range .Pages }}
                        {{ $year := .Date.Year }}
                        {{ $lastYear := $.Scratch.Get "lastYear"}}
                        <div class="row mt-2">
                            <div class="d-none d-sm-block col-sm-3 mt-auto text-right">
                                <time class="post-date" datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" | safeHTML }}">
                                    {{ (partial "utilities/date.html" (dict "date" .Date "format" "medium")) }}
                                </time>
                            </div>
                            <div class="col">
                                {{ if ne $year $lastYear }}
                                    <p class="text-body-secondary mt-5">{{ $year }}</p>
                                    {{ $.Scratch.Set "lastYear" $year }}
                                {{ end }}
                                <a href="{{ (path.Join .Page.RelPermalink) | relLangURL }}">{{ if .Draft }}{{ T "draft" | upper }}: {{end}}{{ .Title | markdownify }}</a>
                            </div>
                        </div>
                    {{ end }}
                {{ end }}
            </div>
            <div class="col col-md-2 d-none d-md-block"></div>
        </div>
    </div>
{{ end }}