<div class="container-fluid flex-fill feature">
    <div class="row row-cols-1 row-cols-sm-4 h-100 bg-primary px-4 py-5 bg-opacity-{{ .Site.Params.style.themeOpacity | default "25" | safeHTML }} align-items-center">
        <div class="col col-lg-2 d-none d-lg-block bg-info order-1"></div>
        <div class="col col-sm-6 col-lg-4 text-center text-sm-start order-3 order-sm-2">
            <p class="display-2">{{ .Title }}</p>
            <p>{{ .Content }}<p>
        </div>
        <div class="col text-sm-start text-center col-sm-6 col-lg-4 order-2 order-sm-3">
            {{- $thumbnail := (or (and (reflect.IsMap .Params.Thumbnail) .Params.Thumbnail.url) .Params.Thumbnail) -}}
            {{- $thumbnail = or $thumbnail .Site.Params.home.featurePhoto -}}
            {{ if .Site.Params.home.featurePhoto }}
                {{ warnf "DEPRECATED: parameter `Params.home.featurePhoto` has been deprecated in release v0.18"}}
            {{ end }}
            {{- if $thumbnail -}}
                {{- partial "assets/image.html" (dict "url" $thumbnail "ratio" "16x9" "outerClass" "img-wrap" "innerClass" "rounded" "title" .Site.Title) -}}
            {{ end }}
            <div class="pb-5 d-block d-sm-none"></div>
        </div>
        <div class="col col-lg-2 d-none d-lg-block bg-info order-4"></div>
    </div>
</div>
