<!-- 
    Source: https://github.com/twbs/bootstrap/blob/main/site/layouts/shortcodes/example.html

    Display a code example and render a preview of the same input. The shortcode accepts the languages supported by
    Hugo's highlight function. The shortcode supports the following named arguments:

    "id"            Optional identifier of the element's container.
    "lang"          Language used to display the code. Use "hugo" to process Hugo (escaped) shortcodes, default value is "html".
    "show_markup"   If the markup should be output in the HTML, defaults to "true".
    "show_preview"  If the preview should be output in the HTML, defaults to "true".
    "class"         Optional class attributes of the element's container.
-->

{{- $id := .Get "id" -}}
{{- $class := .Get "class" -}}
{{- $lang := .Get "lang" | default "html" -}}
{{- $show_markup := .Get "show_markup" | default true -}}
{{- $show_preview := .Get "show_preview" | default true -}}
{{- $input := .Inner -}}
{{- $content := .Inner -}}

{{ $preprocess := slice "hugo" "markdown" }}
{{- if in $preprocess $lang -}}
    {{- $content = (trim $content "\r\n") | markdownify }}
    {{ $lang = "markdown" }}
{{- end -}}

<div class="rounded border mb-3">
    {{- if eq $show_preview true -}}
        <div {{ with $id }}id="{{ . }}"{{ end }} class="rounded-top p-3 {{ with $class }} {{ . }}{{ end }}">
            {{- $content -}}
        </div>
    {{- end -}}
    {{- if eq $show_markup true -}}
        <div class="d-flex align-items-center ps-3 pe-3 py-1{{ if $show_preview }} border-top{{ else }} rounded-top{{ end }} border-bottom syntax-highlight">
            <small class="font-monospace text-body text-uppercase">{{- $lang -}}</small>
        </div>
        <div class="rounded-bottom syntax-highlight border-none">
            {{- highlight (trim $input "\r\n") $lang "" -}}
        </div>
    {{- end -}}
</div>
